<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932337002065-9fcebp99j7jdpnmeu2psknqb0olslbku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932337002065-9fcebp99j7jdpnmeu2psknqb0olslbku</string>
	<key>API_KEY</key>
	<string>AIzaSyB9XUQL88nax927gdcE5CLeWkPB8ANLDD8</string>
	<key>GCM_SENDER_ID</key>
	<string>932337002065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegeBytes</string>
	<key>PROJECT_ID</key>
	<string>codingbytes-2066e</string>
	<key>STORAGE_BUCKET</key>
	<string>codingbytes-2066e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932337002065:ios:fab5ba80cc07b5b45eba70</string>
</dict>
</plist>